/* ---------- Begin .rotating-border ---------- */
@-webkit-keyframes spin {
    from {transform: translate(-50%, -50%) rotate(0);}
    to   {transform: translate(-50%, -50%) rotate(360deg);}
}
@keyframes spin {
    from {transform: translate(-50%, -50%) rotate(0);}
    to   {transform: translate(-50%, -50%) rotate(360deg);}
}
.rotating-border {
    --border-size: 1rem;

    position: relative;
    overflow: hidden;
    font-size: 2rem;
    padding: calc(var(--padding) + var(--border-size));
    border-radius: var(--border-radius);
}
.rotating-border::before {
    content: '';
    display: block;
    background: var(--border-bg);
    width: calc(100% * 1.41421356237);
    padding-bottom: calc(100% * 1.41421356237);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
    -webkit-animation: spin 5s linear infinite;
            animation: spin 5s linear infinite;
}
.rotating-border--reverse::before{
    animation-direction: reverse;
}
.rotating-border::after{
    content: '';
    position: absolute;
    top: var(--border-size);
    right: var(--border-size);
    bottom: var(--border-size);
    left: var(--border-size);
    background: white;
    z-index: -1;
    border-radius: calc(var(--border-radius) - var(--border-size));
}
/* ---------- End .rotating-border ---------- */

.rotating-border--google {
    --border-size: 1rem;
    --border-bg: conic-gradient(
        #ea4335 0.0turn, #ea4335 0.25turn, 
        #4285f4 0.25turn, #4285f4 0.5turn, 
        #fbbc05 0.5turn, #fbbc05 0.75turn, 
        #34a853 0.75turn, #34a853 1.0turn
    );

    width: 100%;

    padding-bottom: 0.25rem;

    box-shadow: 0px 3px 0px #888888;

    text-transform: uppercase;
    letter-spacing: 0.025em;
    line-height: 2;
    margin-bottom: 0;
    
}