.App {
  
}

footer {
    background-color: #f7f7f7;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 75px;
    text-align:center;
}

footer > * {
    display: inline-block;
    text-align: center;
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}